//=============================================================//
//========================= animation =========================//
//=============================================================//

.fade-in {

  &-enter {
    @apply opacity-0 scale-90;
  }

  &-enter-active {
    @apply opacity-100 scale-100 transform transition-all duration-300 ease-out-expo;
  }

  &-exit {
    @apply opacity-100 scale-100;
  }

  &-exit-active {
    @apply opacity-0 scale-90 transform transition-all duration-300 ease-out-expo;
  }

}

//=============================================================//
//========================= scrollbar =========================//
//=============================================================//

::-webkit-scrollbar {
  @apply w-2 h-2 #{!important};
}

::-webkit-scrollbar-track {
  @apply rounded-lg #{!important};
}

::-webkit-scrollbar-thumb {
  @apply bg-gray/75 rounded-lg #{!important};
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray #{!important};
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}